body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

canvas {
  height: 100vh;
}

h1 {
  color: white;
  position: fixed;
  top: 25vh;
  left: 75vh;
  font-size: 6rem;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
}